<config>
	<apiEndpoint>http://serviciospruebas.gnoss.net/api/v3</apiEndpoint>
	<communityShortName>hercules</communityShortName>
	<ontologyName>asioperson</ontologyName>
	<developerEmail>mariaortega@riam.es</developerEmail>
	<token>
		<tokenKey>nsmM7czu2Ehz29l7nDpOT6QW1oXiDvcD</tokenKey>
		<tokenSecret>nsmM7czu2Eiictj6EVfXRKKRsFRoPaBV</tokenSecret>
	</token>
	<consumer>
		<consumerKey>sySK7czu2Ej2Jbq7nr9wTqwADr+6yIcC</consumerKey>
		<consumerSecret>sySK7czu2Ej32y4gnMwnQ6ljc519Bdqg</consumerSecret>
	</consumer>
	<log>
		<logPath>c:\Cargas\Log\</logPath>
		<logFileName>trace.log</logFileName>
		<logLevel>DEBUG</logLevel>
	</log>
</config>