<config>
	<connectionString>amqp://edma:LOUQy0olX57GpDE7fjaX@82.223.132.195:5672/EDMA</connectionString>
	<!--<connectionString>amqp://edmaLOUQy0olX57GpDE7fjaX@82.223.132.195:5672/EDMA</connectionString>-->
	<connectionType>Rabbit</connectionType>
	<queues>
		<Cola_ServicioWinGestionPublicaciones_ObtencionPublicaciones>Cola_ServicioWinGestionPublicaciones_ObtencionPublicaciones</Cola_ServicioWinGestionPublicaciones_ObtencionPublicaciones>
	</queues>
</config>