<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="utf-8" />
    <title>Esto es una página</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/es.js"></script>
    
</head>
<body>
    <main>
        <section class="container pt-4">
            <h1 class="text-center">Formulario test</h1>
        </section>
        <div id="app">

            <section class="container">
                <form v-if="data && data.startEntity && data.startItem && data.entities && data.entities[data.startEntity].items[data.startItem]">

                    <div class="entity">
                        <h2 v-if="data.entities[data.startEntity].name" class="title_entity">${data.entities[data.startEntity].items[data.startItem].name}</h2>

                        <div class="entity">
                            <template v-for="item, n in data.entities[data.startEntity].items[data.startItem].sections" v-if="data.entities[data.startEntity].items[data.startItem].sections != null">
                                <entity-sections 
                                :item="item" 
                                :i="n+1" 
                                :key="n+1"
                                :rdf-entity="data.startEntity"
                                :id-entity="data.startItem"
                                ></entity-sections>
                            </template>
                            <template v-for="item, i in item.properties" v-else-if="data.entities[data.startEntity].items[data.startItem].properties != null">
                                <text-imput 
                                :item="item" 
                                :i="n+1" 
                                :key="n+1"
                                :rdf-entity="data.startEntity"
                                :id-entity="data.startItem"
                                ></text-imput>
                                <input type="text" required="false">
                            </template>
                        </div>

                    </div>
                    <a class="btn btn-primary" @click="submitDataForm()">Enviar</a>

                </form>
            </section>

        </div>
    </main>
    

    <script type="text/javascript">


        /**
         * Component that show all sections and after call other sections or all inputs if have those
         */
        Vue.component('entity-sections', {
            props: {
                item: {
                    type: Object,
                    required: true
                },
                i: {
                    type: Number,
                },
                rdfEntity: {
                    type: String,
                },
                idEntity: {
                    type: String,
                },
            },
            delimiters: ['$[{', '}]'],
            template: `
                <component :is="item.tag ? item.tag : 'div'" :class="item.class.concat(' ')" :id="item.id">
                    <h3 v-if="item.title" class="title_section">$[{item.title}]</h3>
                    
                    <all-imputs
                    v-if="item.properties"
                    :properties="item.properties"
                    :i="i"
                    :id-entity="idEntity"
                    :rdf-entity="rdfEntity"
                    ></all-imputs>

                    <template v-for="el, n in item.sections" v-if="item.sections">
                        <entity-sections
                        :item="el"
                        :key="n**(i+1)"
                        :i="n**i"
                        :id-entity="idEntity"
                        :rdf-entity="rdfEntity"
                        ></entity-sections>
                    </template>

                </component>
            `,
        });

        /**
         * Component that show all inputs in their type of input  
         */
        Vue.component('all-imputs', {
            props: {
                properties: {
                    type: Array
                },
                i: {
                    type: Number,
                },
                rdfEntity: {
                    type: String,
                },
                idEntity: {
                    type: String,
                },
            },
            data() {
                return {
                    typesNormalInputs: [],
                    typesSpecialInputs: [],
                }
            },
            mounted: function mounted() {

                var self = this;
                self.typesSpecialInputs = {
                    textarea: "textarea-field",
                    select: "select-field",
                    datetime: "datetime-field",
                    orderedlist: "orderedlist",
                    list: "list",
                    table: "table",
                    texteditor: "textarea-field",
                    option: "",
                    button: "button-field",
                    optgroup: "optgroup-field",
                    checkbox: "checkbox-field",
                }

                self.typesNormalInputs = [
                    "button",
                    "checkbox",
                    "color",
                    "date",
                    "datetime-local",
                    "email",
                    "file",
                    "hidden",
                    "image",
                    "month",
                    "number",
                    "password",
                    "range",
                    "reset",
                    "search",
                    "submit",
                    "tel",
                    "text",
                    "time",
                    "url",
                    "week",
                ]
                
            },
            delimiters: ['$[{', '}]'],
            template: `
                <div class="d-block list-fields">
                    <template v-for="item, n in properties">
                        <template v-if="typesNormalInputs.includes(item.fieldType)">
                            <!-- input type fields -->
                            <input-field :item="item" :key="idEntity + '_' + n + '_' + i" :i="i" :id-entity="idEntity" :rdf-entity="rdfEntity" :itype="item.fieldType"
                            ></input-field>
                        </template>
                        <template v-else-if="typesSpecialInputs.hasOwnProperty(item.fieldType)">
                            <!-- input type fields -->
                            <component :is="typesSpecialInputs[item.fieldType]" :item="item" :key="idEntity + '_' + n + '_' + i" :i="i" :id-entity="idEntity" :rdf-entity="rdfEntity" itype="datetime-local"
                            ></component>
                        </template>
                    </template>
                </div>
            `,
            
        });

        /**
         * Component that show all inputs type field (Less checkbox & radio)  
         */
        Vue.component('datetime-field', {
            props: {
                item: {
                    type: Object
                },
                i: {
                    type: Number,
                },
                itype: {
                    type: String,
                    default: "text"
                },
                rdfEntity: {
                    type: String,
                },
                idEntity: {
                    type: String,
                },
            },
            delimiters: ['$[{', '}]'],
            data() {
                return {
                    es: vdp_translation_es.js
                }
            },
            mounted: function mounted() {
                var self = this;
            },
            components: {
                vuejsDatepicker
            },
            template: `
                <div class="d-block">
                    <label class="label-input" :class="'label-' + itype" :for="idEntity + '.' + item.property">$[{item.title}]</label>
                    <vuejs-datepicker :language="es" v-model="item.value" :id="idEntity + '.' + item.property" :class="{require : item.min == 1}" name="item.property"></vuejs-datepicker>
                </div>
            `,
            methods: {
                customFormatter(date) {
                    // return moment(date).format('yyyyMMddhhmm');
                }
            }
        });

        /**
         * Component that show all inputs type field (Less checkbox & radio)  
         */
        Vue.component('input-field', {
            props: {
                item: {
                    type: Object
                },
                i: {
                    type: Number,
                },
                itype: {
                    type: String,
                    default: "text"
                },
                rdfEntity: {
                    type: String,
                },
                idEntity: {
                    type: String,
                },
            },
            delimiters: ['$[{', '}]'],
            template: `
                <div class="d-block">
                    <label class="label-input" :class="'label-' + itype" :for="idEntity + '.' + item.property">$[{item.title}]</label>
                    <input :class="{require : item.min == 1}" :placeholder="item.placeholder"  v-model="item.value" :type="itype" :id="idEntity + '.' + item.property" :name="item.property">
                </div>
            `,
        });


        /**
         * Component that show a textarea
         */
        Vue.component('textarea-field', {
            props: {
                item: {
                    type: Object
                },
                i: {
                    type: Number,
                },
                itype: {
                    type: String,
                    default: "text"
                },
                rdfEntity: {
                    type: String,
                },
                idEntity: {
                    type: String,
                },
            },
            delimiters: ['$[{', '}]'],
            template: `
                <div class="d-block">
                    <label class="label-input" :class="'label-' + itype" :for="idEntity + '.' + item.property">$[{item.title}]</label>
                    <textarea :class="{require : item.min == 1}" :placeholder="item.placeholder" v-model="item.value" :type="itype" :id="idEntity + '.' + item.property" :name="item.property">
                    </textarea>
                </div>
            `,
        });


        Vue.component('radio-field', {
            props: {
                item: {
                    type: Object
                },
                i: {
                    type: Number,
                },
                itype: {
                    type: String,
                    default: "text"
                },
                rdfEntity: {
                    type: String,
                },
                idEntity: {
                    type: String,
                },
            },
            delimiters: ['$[{', '}]'],
            template: `
                <div class="d-block">
                    <input :class="{require : item.min == 1}" v-model="item.value" :type="itype" :id="idEntity + '.' + item.property" :name="item.property">
                    <label class="label-input" :class="'label-' + itype + ' ' + (item.min == 1 ? 'require' : '')" :for="idEntity + '.' + item.property">$[{item.title}]</label>
                </div>
            `,
        });


        Vue.component('checkbox-field', {
            props: {
                item: {
                    type: Object
                },
                i: {
                    type: Number,
                },
                itype: {
                    type: String,
                    default: "text"
                },
                rdfEntity: {
                    type: String,
                },
                idEntity: {
                    type: String,
                },
            },
            delimiters: ['$[{', '}]'],
            template: `
                <div class="d-block">
                    <input :class="{require : item.min == 1}" v-model="item.value" :type="itype" :id="idEntity + '.' + item.property" :name="item.property">
                    <label class="label-input" :class="'label-' + itype + ' ' + (item.min == 1 ? 'require' : '')" :for="idEntity + '.' + item.property">$[{item.title}]</label>
                </div>
            `,
        });


        Vue.component('select-field', {
            props: {
                item: {
                    type: Object
                },
                i: {
                    type: Number,
                },
                itype: {
                    type: String,
                    default: "text"
                },
                rdfEntity: {
                    type: String,
                },
                idEntity: {
                    type: String,
                },
            },
            delimiters: ['$[{', '}]'],
            template: `
                <div class="d-block">
                    <label class="label-input" :class="'label-' + itype" :for="idEntity + '.' + item.property">$[{item.title}]</label>
                    <select :class="{require : item.min == 1}" v-model="item.value" :id="idEntity + '.' + item.property" :name="item.property">
                        <option disabled value="">Selecciona una opción</option>
                        <option v-if="item.options" v-for="el, pos in item.options">$[{el}]</option>
                    </select>
                </div>
            `,
        });


        Vue.component('orderedlist', {
            props: {
                item: {
                    type: Object
                },
                i: {
                    type: Number,
                },
                itype: {
                    type: String,
                    default: "text"
                },
                rdfEntity: {
                    type: String,
                },
                idEntity: {
                    type: String,
                },
            },
            delimiters: ['$[{', '}]'],
            template: `
                <div class="d-block">
                    <label class="label-orderedlist">$[{item.title}]</label>
                    <ol>
                        <li v-for="el in item.options">$[{el}]</li>
                    </ol>

                </div>
            `,
        });


        Vue.component('button-field', {
            props: {
                item: {
                    type: Object
                },
                i: {
                    type: Number,
                },
                itype: {
                    type: String,
                    default: "text"
                },
                rdfEntity: {
                    type: String,
                },
                idEntity: {
                    type: String,
                },
            },
            delimiters: ['$[{', '}]'],
            template: `
                <div class="d-block">
                    <button></button>

                </div>
            `,
        });


        Vue.component('list', {
            props: {
                item: {
                    type: Object
                },
                i: {
                    type: Number,
                },
                itype: {
                    type: String,
                    default: "text"
                },
                rdfEntity: {
                    type: String,
                },
                idEntity: {
                    type: String,
                },
            },
            delimiters: ['$[{', '}]'],
            template: `
                <div class="d-block">
                    <label class="label-list" + itype">$[{item.title}]</label>
                    <ul>
                        <li v-for="el, item.options">$[{el}]</li>
                    </ul>

                </div>
            `,
        });



        // Vue app
        var app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            components: {
                vuejsDatepicker
            },
            data: {
                data: {},
                api_url: "",
            },
            mounted: function mounted() {

                var self = this;
                self.api_url = "https://localhost:5001/EditorCV";

                self.getAjaxAxiosElements("1", function () {

                });
                
                Vue.nextTick(function (e) {
                });

            },

            filters: {

                subStr: function(string, start, end) {
                    return string.substring(start, end);
                }

            },
            methods: {

                /**
                * The ajax call (using axios) to the API
                */
                getAjaxAxiosElements: function getAjaxAxiosElements(section, callback = function (e) { return void (0) }) {
                    let self = this;

                    let urlQuery = new URL(self.api_url);

                    // Set the query
                    urlQuery.searchParams.append('section', section);

                    // Make the ajax call
                    axios
                        .get(urlQuery.toString())
                        .then(response => {
                            if (response.status == 200) {
                                // self.data = Object.assign({}, self.data, response.data);
                                self.data = {...response.data};
                                console.log("self.data", self.data);
                                
                                // Vue.nextTick(function (e) {
                                // });
                                callback();
                            } else {
                                alert("Ha habido un error en su petición, intentelo más tarde");
                                callback();
                            }
                        });
                },
                
                submitDataForm: function submitDataForm(callback = function (e) { return void (0) }) {
                    console.log("datos enviados");
                    let self = this;

                    // var dataStr = JSON.stringify(self.data);

                    let urlQuery = new URL(self.api_url);

                    // Make the ajax post call
                    axios.post(urlQuery.toString(), {
                            data: self.data
                        })
                        .then(function (response) {
                            console.log("response: ", response);
                            Vue.nextTick(function (e) {
                            });
                            callback();
                        })
                        .catch(function (error) {
                            console.log(error);
                            callback();
                        });
                }
            }
        })


    </script>

</body>
</html>