.highlight {
    background-color: lightyellow;
}

.facetas-wrap .fechaDesdeHasta .filtroFacetaFecha {
	width: calc(50% - 6px);
}

.candado-wrapper { padding-left: 14px; }
.candado::before { content: 'lock'; font-size: 1.4rem; color: #ababab; }
.candado-activo::before { content: 'lock_open'; font-size: 1.4rem;/* color: #00a8ff; */}