.entityauxcontainer>.entityaux{display:none!important;}
.entitycontainer>.entity{display:none!important;}
.form-group.multiple input,.form-group.entitycontainer:not(.multiple) input{display:inline;height:38px;}
.form-group.multiple .acciones-listado-edicion{width:30%;float:right;margin-bottom:0px;}
.form-group.multiple .acciones-listado-edicion{width:auto;float:none;}
.form-group.multiple:not(.entitycontainer)>div {display:flex;}
.form-group.entitycontainer:not(.multiple)>div {display:flex;}
.form-group.multiple.entityauxcontainer>div {
	display: block;
}
.form-group-date.material-icons {
		position: absolute;
		top: 42px;
		left: 10px;
		color: var(--c-secundario);
	}
.custom-form-row .form-group {
	position: relative;
}
input.form-group-date {
	padding-left: 45px;
}
.page-cv .resource-list .resource .middle-wrap .content-wrap .description-wrap .group.mini, 
.page-cv .resource-list .resource .middle-wrap .content-wrap .description-wrap .group.mini {
	display: block;
}
.page-cv .resource-list .resource .middle-wrap .content-wrap .description-wrap .group.resaltado p {
	font-weight: 500;
}
.page-cv .resource-list .resource.activo .middle-wrap .content-wrap .description-wrap .group.resaltado p {
	font-weight: 300;
}

.page-cv #modal-eliminar {
	z-index: 1501 !important;
}
.page-cv .modal-backdrop.show.modal-eliminar {
	z-index: 1500 !important;
}

.page-cv #modal-editar-entidad {
	z-index: 1062 !important;
}
.page-cv .modal-backdrop.show.modal-editar-entidad {
	z-index: 1061 !important;
}

.page-cv #modal-editar-entidad-0 {
	z-index: 1064 !important;
}
.page-cv .modal-backdrop.show.modal-editar-entidad-0 {
	z-index: 1063 !important;
}

.page-cv #modal-editar-entidad-0 .modal-dialog {
	width: 100%;
	max-width: 1180px;
}

.page-cv #modal-editar-entidad-1 {
	z-index: 1066 !important;
}
.page-cv .modal-backdrop.show.modal-editar-entidad-1 {
	z-index: 1065 !important;
}
.page-cv #modal-editar-entidad-1 .modal-dialog {
	width: 100%;
	max-width: 1080px;
}

.page-cv #modal-editar-entidad-2 {
	z-index: 1068 !important;
}
.page-cv .modal-backdrop.show.modal-editar-entidad-2 {
	z-index: 1067 !important;
}
.page-cv #modal-editar-entidad-2 .modal-dialog {
	width: 100%;
	max-width: 980px;
}

.page-cv #modal-editar-entidad-3 {
	z-index: 1070 !important;
}
.page-cv .modal-backdrop.show.modal-editar-entidad-3 {
	z-index: 1069 !important;
}
.page-cv #modal-editar-entidad-3 .modal-dialog {
	width: 100%;
	max-width: 880px;
}

.page-cv #modal-editar-entidad-4 {
	z-index: 1072 !important;
}
.page-cv .modal-backdrop.show.modal-editar-entidad-4 {
	z-index: 1071 !important;
}
.page-cv #modal-editar-entidad-4 .modal-dialog {
	width: 100%;
	max-width: 780px;
}

.page-cv #modal-anadir-autor {
	z-index: 1500 !important;
}

.page-cv .modal-backdrop.show.modal-anadir-autor {
	z-index: 1499 !important;
}


.select2-container--default .select2-results__option[aria-disabled=true] {
	display: none;
}

.panel-group.pmd-accordion article.activo .material-icons.arrow {
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.panel-group.pmd-accordion a[aria-expanded="true"] .pmd-accordion-arrow {
	-ms-transform: rotate(0deg)!important;
	transform: rotate(0deg)!important;
}

.panel-group.pmd-accordion a[aria-expanded="false"] .pmd-accordion-arrow {
	-ms-transform: rotate(180deg)!important;
	transform: rotate(180deg)!important;
}

.entityaux ul li .faceta:not(.last-level)::before {
	background: #ccc;
}

.topic .item.added {
	display: none !important;
}

.topic .item.aux input {
	position: absolute;
	top: 0;
	width: 50%;
	right: 94px;
}

.topic a.btn.btn-outline-grey.add {
	height: 38px;
}

.entityaux ul li .faceta.last-level.selected.lock,
.entityaux ul li .faceta.last-level.selected.lock::before {
	background: #ccc;
	cursor:not-allowed;
}
:root{
	--c-gris-claro: #BBB;
	--c-gris-oscuro: #555;
}

.list-wrap ul li.background-oscuro { background-color: var(--c-gris-claro) !important; border: 1px solid var(--c-gris-oscuro) !important; }
.list-wrap ul li.background-oscuro a { color: var(--c-gris-oscuro); }
.list-wrap ul li.background-oscuro .material-icons { color: var(--c-gris-oscuro); }


.ac_results{
	top: 80px!important;
	left: 0px!important;
}


.topic .item.aux .ac_results{
	top: 40px!important;
	left: calc(50% - 94px)!important;
}

.formulario-edicion .nav.nav-tabs {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0px 40px;
	padding-top: 20px;
}

#modal-editar-entidad .modal-content .modal-body {
	padding: 60px 40px;
}

.resource-list.translationEnView .translation-en {
	display: block;
}

.resource-list.translationCaView .translation-ca {
	display: block;
}

.resource-list.translationEuView .translation-eu {
	display: block;
}

.resource-list.translationGlView .translation-gl {
	display: block;
}

.resource-list.translationFrView .translation-fr {
	display: block;
}

.page-cv .resource-list .resource .middle-wrap .content-wrap .description-wrap .group ul li{
	margin-bottom: 0;
}

#collapse-autores .collapse-toggle, #collapse-lista-autores .user-list .collapse-toggle {
	font-size: inherit;
	font-weight: 500;
	text-transform: initial;
	color: var(--c-primario);
}

#collapse-lista-autores .user-list > ul > li {
	padding-right: 12px;
}

#collapse-lista-autores .user-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

/* WYSIWYG Editor */
.edmaTextEditor {
	width: 100%;
	min-height: 18rem;
   
	border-top: 2px solid #4a4a4a;
	border-radius: 3px;
	margin: 2rem 0;
}

.edmaTextEditor .toolbar .line {
	display: flex;
	border: 1px solid #e2e2e2;
}

.edmaTextEditor .toolbar .line .box {
	display: flex;
}

.edmaTextEditor .toolbar .line .box .editor-btn {
	transition: 0.2s ease all;
}

.edmaTextEditor .toolbar .line .box .editor-btn:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

.edmaTextEditor .toolbar .line .box .editor-btn.active {
	background-color: #e1e1e1;
}

.edmaTextEditor .toolbar .line .box .editor-btn.icon img {
	width: 16px;
	padding: 9px;
	box-sizing: content-box;
}

.visuell-view[placeholder]:empty:before {
	content: attr(placeholder);
	color: #AAA; 
}

.visuell-view[placeholder]:empty:focus:before {
	content: "";
}

.edmaTextEditor .visuell-view {
	line-height: 1.5;
	box-sizing: border-box;
	outline: none;
	display: inline-block;
	min-height: inherit;
	overflow-y: auto;
	width: inherit;
	overflow-x: auto;
}
.edmaTextEditor[disabled] .toolbar {
	pointer-events:none;

}
.edmaTextEditor[disabled] {
	opacity: 0.5;
	background: #CCC;
}