@if (Html.GetComunidad() != null)
{
    <header id="header" class="background-primario texto-blanco">
        @{
            HeaderModel cabecera = Html.GetCabecera();
            UserProfileModel perfil = Html.GetPerfil();
            CommunityModel Comunidad = Html.GetComunidad();
            UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
            CommunityModel.PermissionsModel permisosComunidad = Comunidad.Permissions;
        }
        <div class="container-fluid">
            <div class="row upper-row">
                <div class="col col01">
                    <div class="menu-logo-wrapper">
						<div class="menu-toggle">
							<a href="javascript: void(0);" data-target="menuLateral" id="menuLateralTrigger" class="texto-blanco">
								<span class="material-icons">apps</span>
							</a>
						</div>
                        <div class="logo-wrapper">
                            <a href="@Comunidad.Url" class="texto-blanco">
                                Hércules
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col col02">
                    <div class="col-buscador">
                        <form method="post" id="formCajaBusqueda">
                            <fieldset style="display: block">
                                <legend class="nota">facetas</legend>
                                <div class="finderUtils" id="divCajaBusqueda">
                                    <div class="group finderSection">
                                        <label for="finderSection" class="">Encontrar</label>
                                        <input type="text" id="finderSection" class="not-outline finderSectionText ac_input" autocomplete="off" placeholder="@Html.Translate("SEARCH")">
                                        <input title="Encontrar" type="button" class="findAction" id="inputLupa">
                                        <input type="hidden" value="http://google.com" class="inpt_urlPaginaActual"> <!-- TODO -->
                                        <input type="hidden" value="sioc_t:Tag|foaf:firstName" class="inpt_facetasBusqPag">
                                        <input type="hidden" class="inpt_parametros">
                                        <a href="javascript: void(0);" class="btn-filtrar-movil">
                                            <span class="material-icons">filter_list</span>
                                        </a>
                                        <div class="ac_results" style="position: absolute; width: 190px; top: 109px; left: 318.5px; display: none;">
                                            <ul>
                                                <li class="ac_even">Comité de Coordinación de Cotec</li>
                                                <li class="ac_odd">Comité de Coordinación de Cotec</li>
                                                <li class="ac_even">Comité de Coordinación de Cotec</li>
                                                <li class="ac_odd">Comité de Coordinación de Cotec</li>
                                                <li class="ac_even">Comité de Coordinación de Cotec</li>
                                                <li class="ac_odd">Comité de Coordinación de Cotec</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="col col03">
                    <ul>
                        <li class="iniciar-sesion">
                            <!-- Comprueba en que sesión está el usuario -->
                            @if (IdentidadActual.IsGuestUser)
                            {
                                <a href="@Comunidad.Url/login" class="texto-blanco">@Html.GetText("COMMON", "INICIARSESION")</a>
                            }
                            else
                            {
                                // TODO: Cuando el usuario está conectado...
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
}