wheel
Flask
flask_restful
flask_httpauth
flask_apispec
passlib
translitcodec
nltk
hunspell
numpy
pandas
sklearn
joblib
tensorboardX
https://storage.googleapis.com/elhuyar/Hercules/dependencies/text_classification-0.1.0-py2.py3-none-any.whl
transformers
torch
torchaudio
torchvision
spacy
git+https://github.com/mattbierbaum/arxiv-public-datasets.git
